{% extends "base.html" %}
{% load staticfiles %}
{% block title %}News{% endblock %}

{% block content %}
<p><b><i>Бронирование билетов.</i></b></p>
<form id='reservation' method="get" action="{% url 'reservation' %}">
	{{form.as_p}}
	<button type="submit">Забронировать</button>
</form>

<div>

	{% for res in object_list %}

	<div style="background: #4682B4">
		<div><span>{{res.city.dep_station} - {res.train.arr_station}</span></div>
		<div>
			<ul>
				<li class="li--{{res.train.dep_time}}">{{res.train.dep_time}}</li>
			</ul>
		</div>
	</div>

	{% endfor %}
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
