{% extends "base.html" %}
{% load staticfiles %}
{% block title %}News{% endblock %}

{% block content %}
	<p>
		<b><i>Бронирование билетов.</i></b>
	</p>

		<form name="record" method="POST" action="" autocomplete="on">
			<table>
				<tr>
					<th>Откуда<font color="#CC0033">*</font></th>
					<td><select name="textValue(from)" class="input_text"><option value="" selected="selected"></option>
				    	{% for city in cities %}
							<option value="*">{{city.name}}</option>
						{% endfor %}
						</select>
  					</td>
				</tr>
				<tr>
					<th>Куда<font color="#CC0033">*</font></th>
					<td><select name="textValue(from)" class="input_text"><option value="" selected="selected"></option>
				    	{% for city in cities %}
							<option value="*">{{city.name}}</option>
						{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<th>Время отправления<font color="#CC0033">*</font></th>
					<td><select name="textValue(train_num)" class="input_text"><option value="" selected="selected"></option>
							<option value="*">{{train.dep_time}}</option>
						</select></td>
				</tr>
				<tr>
					<th>Время прибытия<font color="#CC0033">*</font></th>
					<td><select name="textValue(train_num)" class="input_text"><option value="" selected="selected"></option>
							<option value="*">{{train.arrival_time}}</option>
						</select></td>
				</tr>

				<tr>
					<th>Тип места<font color="#CC0033">*</font></th>
					<td><select name="textValue(place_type)" class="input_text"><option value="" selected="selected"></option>
							<option value="*">{{train.place_type}}</option>
					</select></td>
				</tr>
				<tr>
				    <th width="20%">Фамилия<font color="#CC0033">*</font></th>
				    <td width="30%"><input type="text" name="textValue(passenger)" value="" >
						{{passenger.surname}}
				    </td>
				</tr>
				<tr>
				    <th width="20%" style="text-align: center;">Телефон<font color="#CC0033">*</font>
				    </th>
				    <td width="30%"><input type="text" name="textValue(tel)" value="">
				    </td>
				</tr>
				<tr>
				    <th>E-mail<font color="#CC0033">*</font></th>
				  	<td><input type="text" name="textValue(email)" value=""></td>
				  	<td colspan="2"></td>
				</tr>
			</table>
			<span>
				<a href="/ticket/"><input type="button" name="send_record" value="Забронировать" class="submit"></a>
			</span>
		</form>
{% endblock %}
{% block sidebar %}
<table>
	<tr>
	  	<th style="text-align: center;">Условия проезда</th>
	</tr>
	<tr>
	    <td><input type="checkbox" value="Кроме боковых мест"><span>Кроме боковых мест</span>
	    </td>
	</tr>
	<tr>
	    <td><input type="checkbox" value="В начале и конце вагона не предлагать"><span>В начале и конце вагона не предлагать</span>
		</td>
	</tr>
	<tr>
	    <td><input type="checkbox" value="Хотя бы одно нижнее"><span>Хотя бы одно нижнее</span>
	    </td>
	</tr>
</table>
{% endblock %}