{% extends "base.html" %}
{% load staticfiles %}
{% block title %}News{% endblock %}

{% block content %}
<p><b><i>Бронирование билетов.</i></b></p>
<form id='reservation' method="get" action="{% url 'reservation' %}">
	{{form.as_p}}
	<button type="submit">Забронировать</button>
</form>

<div>

	{% for train in object_list %}

	<div style="background: #4682B4; width: 400px">
		<div><span>Поезд: {{train.dep_station}} - {{train.arr_station}}</span></div>
		<div><span>Номер поезда: {{train.num}}</span></div>
		<div>
			<ul>
				<li class="li--{{train.dep_time}}">Время отправления: {{train.dep_time}}</li>
				<li class="li--{{train.arr_time}}">Время прибытия: {{train.arr_time}}</li>
				<li class="li--{{train.place_type}}">{{train.place_type}}</li>
			</ul>
		</div>
	</div>

	{% endfor %}
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
