{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Main{% endblock %}

{% block content %}
	<p>
		<b><i>Уважаемые пассажиры!</i></b>
		<br><br>Пользуясь нашим <i><a href="/reservation/">приложением</a></i>, Вы можете произвести бронирование мест на пассажирские поезда, как во внутриреспубликанском, так и международном (страны СНГ и Балтии) сообщениях, с последующим оформлением проездных документов в билетных кассах железной дороги <i>при личной явке</i>.
		<br><br>Бронирование мест осуществляется <b>от 60 до 1 суток</b> до отправления поезда, согласно установленным срокам предварительной продажи билетов на запрашиваемый поезд.
		<br><br>При заполнении бланка заказа будьте внимательны:
		<ul>
			<li>правильно указывайте данные о пассажире (фамилию, имя, отчество);</li>
			<li>станцию отправления и станцию назначения;</li>
			<li>номер поезда.</li>
		</ul>
		<br>Стоимость услуги за бронирование составляет <b>25 коп.</b> за каждое заказанное место.
		<br>В одном заказе оформляется <i>до четырех мест</i>.
	</p>
{% endblock %}

{% block sidebar %}
	<img class="train" src="{% static 'img/train.jpg' %}" alt="супер-поезд">
	<p class="add">
		К нам обращались с вопросами о детской железной дороге, но мы пошли чуть дальше!
		<br><br>
		Совместно со специалистами из японской компании JETTRAIN мы открываем набор люботныхных юношей и девушек 12-15 лет
		на <b>курс по моделированию супер-поездов</b>, аналогом которым является Сапсан.<br><br>
		За дополнительной информацией обращаться по телефону <br><i>8-022-892-32-30</i>.
	</p>
{% endblock %}

