{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Ticket{% endblock %}

{% block content %}
	<p>
	Скидки/надбавки в зависимости от сроков продажи (глубины продажи) к общей стоимости проезда по территориям РЖД и БЧ для индивидуальных пассажиров для купейных вагонов и вагонов категории СВ (не  действуют для поездов №26/25 Минск—Москва, №2/1 Минск—Москва), кроме периодов 01—08.01.2019 и 21—31.12.2019:
	<br><br>
	<ul>
		<li><b>20% скидка</b> к общей стоимости проезда — при условии продажи проездных документов в период от 60 до 31 суток до отправления поезда;</li>
		<br>
		<li><b>15% скидка</b> к общей стоимости проезда — при условии продажи проездных документов в период от 30 до 21 суток до отправления поезда;</li>
		<br>
		<li><b>0% — базовый тариф</b> — при условии продажи проездных документов в период от 20 до 11 суток до отправления поезда;</li>
		<br>
		<li><b>5% надбавка</b> к общей стоимости проезда — при условии продажи проездных документов за 10 суток и менее до отправления поезда.</li>
	</ul>
	</p>
{% endblock %}
{% block sidebar %}
	<img class="train" src="{% static 'img/train.jpg' %}" alt="супер-поезд">
	<p class="add">К нам обращались с вопросами о детской железной дороге, но мы пошли чуть дальше!
		<br><br>
		Совместно со специалистами из японской компании JETTRAIN мы открываем набор люботныхных юношей и девушек 12-15 лет на <b>курс по моделированию супер-поездов</b>, аналогом которым является Сапсан.
		<br><br>
		За дополнительной информацией обращаться по телефону <br><i>8-022-892-32-30</i>.
	</p>
{% endblock %}