{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Ticket{% endblock %}

{% block content %}

		<h2>ВАШ БИЛЕТ</h2>
		<br>
		<ul>
			<li><b>ФИО пассажира:</b>{{object.passenger_info.surname}} {{object.passenger_info.name}} {{object.passenger_info.patronymic}}.</li>
			<li><b>Поезд:</b> {{object.train_info.num}}: {{object.train_info.dep_station}} - {{object.train_info.arr_station}}.</li>
			<li><b>Время:</b> отправление в {{object.train_info.dep_time}}, прибытие в {{object.train_info.arr_time}}.</li>
			<li><b>Тип вагона:</b> {{object.train_info.place_type}}.</li>
			<li><b>Стоимость:</b> {{object.train_info.price}}.</li>
		</ul>

{% endblock %}
{% block sidebar %}
{% endblock %}