<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TUTU.BY :: {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="header">
		<div class="container">
			<ul class="menu">
				<li><a href="/">ГЛАВНАЯ</a></li>
				<li><a href="/news/">НОВОСТИ</a></li>
				<li><a href="/reservation/">БРОНИРОВАНИЕ</a></li>
				{% if user.is_authenticated %}
					<li class="if" style="color: #F5FFFA">Добро пожаловать, {{ user.username}}.</li>
					<li class="if"><a href="{% url 'logout' %}">Выйти</a></li>
					<li class="if"><a href="{% url 'change_password' %}">Изменить пароль</a></li>
				{% else %}
					<li class="if"><a href="{% url 'login' %}">Войти</a></li>
					<li class="if"><a href="{% url 'signup' %}">Зарегистрироваться</a></li>
				{% endif %}
				{% if user.is_staff %}
					<li class="if"><a href="/admin/">Управление сайтом</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="middle">
		<div class="container">
			<div class="main">
				<div class="logo">
					<img src="{% static 'img/logo.png' %}" alt="logo">
					<h1>TUTU.BY</h1>
				</div>
				<div class="content">
					{% block content %}
					{% endblock %}
					
				</div>
			</div>
		
			<div class="sidebar">
				{% block sidebar %}
				{% endblock %}
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<p>
				Разработано Stasic&Co. 2019
			</p>
		</div>
	</div>
</body>
</html>