<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TUTU.BY :: {% block title %}XXX{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="header">
		<div class="container">
			<ul class="menu">
				<li><a href="index.html">ГЛАВНАЯ</a></li>
				<li><a href="news.html">НОВОСТИ</a></li>
				<li><a href="bronirovanie.html">БРОНИРОВАНИЕ</a></li>
			</ul>
		</div>
	</div>
	<div class="middle">
		<div class="container">
			<div class="main">
				<div class="logo">
					<img src="{% static 'img/logo.png' %}" alt="logo">
					<h1>TUTU.BY</h1>
				</div>
				<div class="content">
					{% block content %}
					{% endblock %}
					
				</div>
			</div>
		
			<div class="sidebar">
				{% block sidebar %}
				{% endblock %}
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<p>
				Разработано Stasic&Co. 2019
			</p>
		</div>
	</div>
</body>
</html>