{% extends "base.html" %}
{% load staticfiles %}
{% block title %}News{% endblock %}

{% block content %}
<p><b><i>Бронирование билетов.</i></b></p>
<form id='reservation' method="get" action="{% url 'reservation' %}">
	{{form.as_p}}
	<button type="submit">Показать поезда</button>
</form>
<br>
<br>

<div>

	{% for train in object_list %}

	<div style="background: #4f77bf; width: 300px; list-style: none; color: white; padding: 10px; text-align: left">
		<div>Поезд: <b>{{train.dep_station}} - {{train.arr_station}}</b></div>
		<div>Номер поезда: <b>{{train.num}}</b></div>
		<div>
			<ul style="list-style: none">
				<li class="li--{{train.dep_time}}">Время отправления: {{train.dep_time}}</li>
				<li class="li--{{train.arr_time}}">Время прибытия: {{train.arr_time}}</li>
				<li class="li--{{train.place_type}}">Место: {{train.place_type}}</li>
			</ul>
		</div>
		<a href="{% url 'train-detail' pk=train.pk %}"><button type="submit">Забронировать</button></a>
	</div>

	{% endfor %}
</div>
{% endblock %}

{% block sidebar %}
<p>
	В этом разделе вы можете <i>забронировать билет на нужный поезд</i>. <br><br>
	Для этого следует выбрать пункт отправления и пункт прибытия, и Вам будут показаны все подходящие поезда.<br><br>
	Чтобы забронировать один из них - просто кликните на кнопку "<b>забронировать</b>". <br><br>
	<i>Приятного пользования нашим сервисом!</i>
</p>
{% endblock %}
