{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<p>
		<h2>Ваш билет:</h2>
		<li>
			<b>
				ФИО пассажира: {{ request.user.get_full_name }}
			</b>
		</li>
		<li>
			<b>
				От: {{train.dep_station}}
			</b>
		</li>
		<li>
			<b>
				До: {{train.arr_station}}
			</b>
		</li>
		<li>
			<b>
				Отправление: {{train.dep_time}}
			</b>
		</li>
		<li>
			<b>
				Прибытие: {{train.arr_time}}
			</b>
		</li>
		<li>
			<b>
				№ Полёта: {{train.num}}
			</b>
		</li>
		<li>
			<b>
				Класс: {{train.place_type}}
			</b>
		</li>
		<li>
			<b>
				Сумма: {{train.price}} BYN
			</b>
		</li>

	</p>
{% endblock %}