{% extends "base.html" %}
{% load staticfiles %}
{% block title %}News{% endblock %}

{% block content %}
	<p>
		<b><i>Бронирование билетов.</i></b>
	</p>

		<form name="record" method="POST" action="" autocomplete="on">
			<table>
				<tr>
					<th>Откуда<font color="#CC0033">*</font></th>
					<td><select name="textValue(from)" class="input_text"><option value="" selected="selected"></option>
				    	{% for city in cities %}
							<option value="*">{{city.name}}</option>
						{% endfor %}
						</select>
  					</td>
				</tr>
				<tr>
					<th>Куда<font color="#CC0033">*</font></th>
					<td><input type="text" name="textValue(to)" value=""></td>
				</tr>
				<tr>
					<th>Номер поезда<font color="#CC0033">*</font></th>
					<td><input type="text" name="textValue(train)" maxlength="3" value=""></td>
				</tr>
				<tr>
					<th>Тип вагона<font color="#CC0033">*</font></th>
					<td><select name="textValue(type_vag)" class="input_text"><option value="" selected="selected"></option>
				    	<option value="Л">Л - 2-местный</option>
						<option value="Лу">Лу - 2-местный с услугами</option>
						<option value="М">М - мягкий</option>
						<option value="К">К - купейный</option>
						<option value="Ку">Ку - купейный с услугами</option>
						<option value="П">П - плацкартный</option>
						<option value="Пу">Пу - плацкартный с услугами</option>
						<option value="О">О - общий</option>
						<option value="С">С - межобластной, сидячий</option></select>
					</td>
				</tr>
				<tr>
					<th>Количество билетов<font color="#CC0033">*</font></th>
					<td><select name="textValue(kol_tickets)" id="kol_tickets"><option value=""></option>
				    	<option value="1">1</option>
				    	<option value="2">2</option>
				    	<option value="3">3</option>
				    	<option value="4">4</option></select>
					</td>
				</tr>
				<tr>
					<th>Дата отправления<font color="#CC0033">*</font></th>
					<td><input type="date" name="calendar">
					</td>
				</tr>
				<tr>
				    <th width="20%">ФИО пассажира<font color="#CC0033">*</font></th>
				    <td width="30%"><input type="text" name="textValue(passenger)" value="" >
				    </td>
				</tr>
				<tr>
				    <th width="20%" style="text-align: center;">Телефон<font color="#CC0033">*</font>
				    </th>
				    <td width="30%"><input type="text" name="textValue(tel)" value="">
				    </td>
				</tr>
				<tr>
				    <th>E-mail<font color="#CC0033">*</font></th>
				  	<td><input type="text" name="textValue(email)" value=""></td>
				  	<td colspan="2"></td>
				</tr>
			</table>
			<span class="knopka">
				<input type="button" name="send_record" value="Забронировать" class="submit"><br>
			</span>
		</form>
{% endblock %}
{% block sidebar %}
<table>
	<tr>
	  	<th style="text-align: center;">Условия проезда</th>
	</tr>
	<tr>
	    <td><input type="checkbox" value="Кроме боковых мест"><span>Кроме боковых мест</span>
	    </td>
	</tr>
	<tr>
	    <td><input type="checkbox" value="В начале и конце вагона не предлагать"><span>В начале и конце вагона не предлагать</span>
		</td>
	</tr>
	<tr>
	    <td><input type="checkbox" value="Хотя бы одно нижнее"><span>Хотя бы одно нижнее</span>
	    </td>
	</tr>
</table>
{% endblock %}